.load{
    &__title{
        text-align: center;
        font-weight: 400;
        font-size: rem(20);
        line-height: rem(36.25);
        color: $white;
    }
    > .btn{
        margin: 0 auto;
    }
}
.load{
    * + .btn{
        margin-top: rem(28);
    }
}
