.share{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__title{
        position: relative;
        text-align: center;
        color: $white;
        font-size: 42px;
        font-weight: 300;
        line-height: rem(53);
        max-width: rem(790);
        margin-top: rem(68);
        &:before{
            position: absolute;
            content: url('%=static=%content/share.png');
            top: rem(-52);
            width: rem(56);
            height: rem(39);
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__text{
        color: $white;
        font-size: rem(20);
        line-height: rem(31);
        text-align: center;
        max-width: rem(790);
    }
    &__img{
        display: block;
        width: 100%;
    }
}

.share{
    * + &__text{
        margin-top: rem(22);
    }
    &__text + *{
        margin-top: rem(54);
    }
}

@media screen and (max-width: 991px) {
    .share{
        &__title{
            font-size: rem(28);
        }
        &__text{
            font-size: rem(18);
        }
    }
}

@media screen and (max-width: 767px) {
    .share{
        &__title,
        &__text{
            width: 100%;
        }
    }
}
