.call{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__cnt{
        max-width: rem(410);
    }
    &__asside{}
    &__title{
        position: relative;
        font-weight: 300;
        font-size: rem(42);
        line-height: rem(53);
        color: #484848;
        margin-left: rem(80);
        &:before{
            position: absolute;
            content: url('%=static=%content/call.png');
            top: rem(5);
            left: rem(-80);
            width: rem(51);
            height: rem(42);
        }
    }

    &__text{
        font-size: rem(20);
        line-height: rem(30);
        color: #484848;
    }
    &__img{
        display: block;
        width: 100%;
    }
}

.call{
    * + &__text{
        margin-top: rem(40);
    }
    &__text + *{
        margin-top: rem(60);
    }
}

@media screen and (max-width: 991px) {
    .call{
        flex-direction: column;
        flex-wrap: wrap-reverse;
        &__title{
            font-size: rem(28);
        }
        &__text{
            font-size: rem(18);
        }
    }

    .call{
        * + &__asside{
            margin-top: rem(50);
        }
    }
}

@media screen and (max-width: 767px) {
    .call{
        &__cnt{
            display: flex;
            align-items: center;
            flex-direction: column;
            max-width: 100%;
        }

        &__title{
            margin-left: 0;
            margin-top: rem(68);
            &:before{
                top: rem(-52);
                width: rem(51);
                height: rem(42);
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
