.assideNav {
    position: fixed;
    top: -1px;
    left: -120%;
    overflow-y: auto;
    min-width: rem(320);
    padding: rem(100) rem(40) rem(40) rem(20);
    background: darken(saturate(adjust-hue($clr-main, -24), 21.48), 6.08);
    height: 101%;
    transition: 0.4s ease all;
    box-shadow: 0px 8px 10px rgba(34, 40, 72, 0.3), 0px 0px 1px rgba(34, 40, 72, 0.28);
    z-index: 101;

    .hamburger {
        display: flex;
        position: absolute;
        right: rem(20);
        top: rem(20);
    }

    ul.navList {
        flex-direction: column;
        width: 100%;
        li {
            display: flex;
            align-items: center;
            height: rem(40);
        }

        li + li {
            margin-left: 0;
        }
    }
}

.assideNav.is-open {
    left: -1px;
}
